<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="fragments/header :: headerfragment"></head>
<body>

<div class="container">
    <div class="wrapper text-center">
        <div class="box">
            <h1>404</h1>
            <p>Sorry, it's me, not you.</p>
            <p>&#58;&#40;</p>
            <p><a href="/search">Please refresh the page!</a></p>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>