<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<title>Reset Password Page</title>
<!-- <link rel="icon" type="images/myfavicon.ico" href="/images/myfavicon.ico"> -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	
</head>
<!-- <link rel="icon" type="images/myfavicon.ico" href="/images/myfavicon.ico"> -->
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
		</div>
	</nav>
	
	<br>
	<br>
	<div class = "container">
		<div class = "row">
			<div class = "col-md-6 col-md-offset-3">
				
				<h1>Reset Password Page</h1>
				<h4 style="color: red">please reset your password first to proceed further!!</h4>
				<form th:action="@{/resetpassword}" method="post" id="validateAddForm" th:object="${user}">
				
				
					<th:block th:if="${session.message}">
						<p class="alert alert-danger" data-dismiss="alert">[[${session.message}]] </p>
						<th:block th:text="${#session.removeAttribute('message')}"> </th:block>
					</th:block>
				
					<div class="form-group">
						<label for="password">New Password</label>: <input type="password"
							id="password" name="password" class="form-control"/>
							
					</div>
					
					<div class="form-group">
						<label for="password">Confirm New Password</label>: <input type="password"
							id="password" name="confirmpassword" class="form-control"/>
					</div>
					
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="reset password" />
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<span><a href="/" th:href="@{/login}">Login
								here</a></span>
					</div>
				</form>
				
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'>
	</script>
	
	<script>
	$(document).ready(function () {

	});

	$('#validateAddForm').bootstrapValidator({
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		fields: {
			password: {
				validators: {
					stringLength: {
						min: 3,
						max: 20,
						message: 'Please enter password with minimum 3 and maximum 20 characters'
					},
					notEmpty: {
						message: 'password should not be empty'
					}
				}
			},
			confirmpassword: {
				validators: {
					stringLength: {
						min: 3,
						max: 20,
						message: 'Please enter password with minimum 3 and maximum 20 characters'
					},
					notEmpty: {
						message: 'password should not be empty'
					}
				}
			},
		}
	});
	</script>
</body>
</html>